<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alcohol Calorie Calculator</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/shortcut.css">
</head>
<body>
  <div class="bg-img"></div>
  
  <div class="container">
    <h1>Alkohol Kalori Kalkulator</h1>
    <p>Let's do the math! Hvor mye kalorier er det i drikken din?</p>
    <select id="drink" required>
      <option value="">Velg Gift</option>
      <% let currentType = ""; %>
      <% drinks.forEach((drink, i) => {
            if (drink.type !== currentType) {
                currentType = drink.type;
                %>
                <optgroup label="<%= currentType %>" style="font-weight: bold;">
                <% } %>
                <option value="<%= i %>"><%= drink.name %></option>
                <% if (drink.type !== currentType) { %>
                </optgroup>
                <% }
          }) %>
    </select>
    <input type="number" id="quantity" min="0" placeholder="How many milliliters?" required>
    <button id="calculateButton" type="button">Kalkuler</button>
    <button id="resetButton" type="button">Resett</button>
    <div class="result" id="result"></div>
    <div id="total"></div>
  </div>
  
  
  <section class="sticky">
    <div class="bubbles">
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
    </div>
  </section>
  
  <script id="drinksData" type="application/json">
    <%- JSON.stringify(drinks) %>
  </script>
  <script src="/javascripts/calculate.js"></script> 
  <script src="/javascripts/reset.js"></script> 
</body>
</html>
